h1{
    color: brown;
    text-align: center;
}
h2{
    color: chocolate;
}
div{
    border: 10px solid coral;
    background-color: antiquewhite;
    text-align: center;
}
div p{
    text-align: end;
    padding:0%;
}