h1{
    color: #03045E;
    text-align: center;
}
a:link, a:visited{
    display: block;
    width: fit-content;
    padding: 15px 25px;
    background-color: #ADE8F4;
    color: #0077B6;
    text-decoration: none;
    text-align: center;
    margin: auto;

}
a:hover, a:active{
    background-color: #00B4D8;
    text-decoration: overline underline #CAF0F8;
    color: #023E8A;
}
p{
    text-decoration: wavy underline #48CAE4;
    text-align: center;
}
